.places {
    max-width: 984px;
    margin: 0 auto;
    padding-top: 92px;
}

@media (max-width: 1024px) {
    .places {
        max-width: 91%;
    }
}

@media (max-width: 800px) {
    .places {
        max-width: 94%;
        padding-top: 88px;
    }
}

@media (max-width: 400px) {
    .places {
        max-width: 320px;
        padding-top: 64px;
    }
}